
/* Uso de etiqueta como selectores*/

body {
    background-color: var(--color-fondo);
    background-image: url(../assets/fondo.png);
    font-family: 'Be Vietnam', Arial, sans-serif;
}

body>header {
    color: var(--color-fondo);
    /* background-color: var(--color-texto-titulo); */
    height: 100vh;
    background: linear-gradient( rgba(148, 51, 51),  rgb(197, 230, 14));
    /* background-image: url(../assets/komodo.jpg); */
    background-image: url(../assets/tropical-sunrise.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.title-wrapper {
    font-family: 'Lobster', cursive;
    height: 85%;
}
.title-wrapper::before {
    content: '';
    display: block;
    height: 10vh;
}
 
body>header h1 {
    margin: 0;
    padding: 2rem 2rem 0rem 2rem;
    font-size: 3rem;
    text-shadow: 3px 3px 5px rgb(24, 23, 21);
    position: relative;
}
header p {
    margin-top: 0rem;
    font-size: 1.8rem;
    font-weight: bold;
    padding-left: 2rem;
}

/* .title-wrapper:hover p {
    display: none;
} */

.icono-wrapper {
    font-size: 3rem;
    border: 3px solid;
    width: fit-content;
    padding: 1rem;
    border-radius: 50%;
    background-color: rgba(220, 20, 60, 0.582);
    position: absolute;
    top: 2rem;
    right: 3rem;

}


nav a {
    color: chocolate;
}


/* Selector de hijos */

body>footer {
    color: var(--color-fondo);
    background-color: var(--color-texto-titulo);
    padding: 2rem;
    text-align: center;
}


.container {
    margin-left: 2rem;
    margin-right: 2rem;
}

.autor::before{
    content: "© "
}

q {
    quotes: '\00AB' '\00BB' '\201E' '\201C';
}

/* pre {
    font-family: inherit;
} */

blockquote footer {
    border-top: 1px solid grey;
    margin-top: 1rem;
    padding-top: 0.5rem
}

.listas {
    list-style-type: lower-roman;
}
.semana {
    list-style-type: disc;
}

address a {
    color: inherit;
    /* text-decoration: none; */
}

footer p {
    margin-bottom: 0.4rem;
}

/* strong {
    font-weight: normal;
} */

/* em {
    font-style: normal;
} */

.ir-inicio {
    display: block;
    text-align: right;
    font-size: 2rem;
    color: var(--color-texto-titulo);
    text-decoration: none;
}

.img-wrapper {
    width: 50%;
    display: inline-block;
    margin-left: -4px;
    padding-right: 1rem;
}

 video, img {
    max-width: 100%;
}

iframe {
    width: 100%;
    height: 50vh;
}

.nav-graf {
    width: 50%;
}
